---
interface Props {
    title?: string | undefined;
    description?: string | undefined;
    contentAlt?: string | undefined;
    contentDomain?: string | undefined;
    contentUrl?: string | undefined;
}

const {
    title = "WeatherWise.io",
    description = "Consultas de clima en tiempo real.",
    contentAlt = 'Marca descriptivo de LombardiDev',
    contentDomain = 'lombardidev.ar',
    contentUrl = 'https://lombardidev.ar',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<!-- HTML Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />

<!-- Facebook Meta Tags -->
<meta property="og:url" content={contentUrl} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://lombardidev.ar/assets/icons/logo2.png" />
<meta property="og:image:alt" content={contentAlt} />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={contentDomain} />
<meta property="twitter:url" content={contentUrl} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="https://lombardidev.ar/assets/icons/logo2.png" />
<meta property="og:image:alt" content={contentAlt} />


<!-- PWA -->
<meta name="theme-color" content="#3E3D40">
<link rel="icon" href="/logo48x48.png" sizes="48x48">
<link rel="icon" href="/logo144x144.png" sizes="144x144">
<link rel="icon" href="/logovw.svg" sizes="any" type="image/svg+xml">
<link rel="mask-icon" href="/logovw.svg" color="#3E3D40">
<link rel="apple-touch-icon" href="/logo192x192.png" sizes="180x180">

<link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
